  *{
      box-sizing: border-box;
  }

  .phone {
    width: calc(375px + (6px*2));
    border: 6px solid black; /* 外框厚度 */
    border-radius: 50px;      /* 手機圓角 */
    background: #000;
    position: relative;
    margin: 24px auto;
      box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .screen {
    height: calc(100vh - (24px * 2) - (6px *2)); // 讓手機置中於畫面且不出現 y 軸
    // height: 812px;
    background: #FEF5E2;
    border-radius: 44px;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox 隱藏捲軸 */
  }


.screen::-webkit-scrollbar {
  display: none; /* Chrome、Safari、Edge 隱藏捲軸 */
}

