<footer class="footer-ai">
    <div class="footer-ai-container">
        <div class="d-flex align-items-center gap-2">
            <img src="../assets/images/icon/camera.svg" alt="camera.svg">
            <div class="footer-ai-input w-100">
                <input id="aiInput" type="text" class="t2 w-100 p-0" placeholder="傳送訊息....">
            </div>
        </div>
    </div>
    <div class="light-bar-container">
        <div class="light-bar"></div>
    </div>
</footer>