<footer class="footer-phone">
    <div class="footer-phone-container">
        <a href="ai-chat.html" class="footer-phone-item me-2"><span class="material-symbols--celebration-outline-rounded"></span><span class="footer-phone-text">聚會</span></a>
        <a href="#" class="footer-phone-item"><span class="material-symbols--note-stack-outline-rounded"></span><span class="footer-phone-text">貼文</span></a>
        <a href="index.html" class="footer-phone-item mx-auto footer-phone-index-btn-parent"><span class="material-symbols--celebration-outline-rounded mb-auto z-index-1"></span><img class="footer-phone-index-btn-child" src="../assets/images/index/index-btn.svg" alt="index-btn"></a>
        <a href="chat-list.html" class="footer-phone-item me-2"><span class="material-symbols--chat-outline-rounded"></span><span class="footer-phone-text">聊天</span></a>
        <a href="profile.html" class="footer-phone-item"><span class="material-symbols--person-outline-rounded"></span><span class="footer-phone-text">個人</span></a>
    </div>
    <div class="light-bar-container">
        <div class="light-bar"></div>
    </div>
</footer>