
<header class="header-p300 d-flex justify-content-between px-5 py-3">
    <div>
        <p>9:41</p>
    </div>
    <div>
        <span class="material-symbols-outlined">android_cell_4_bar</span>
        <span class="material-symbols-outlined">wifi</span>
        <span class="material-symbols-outlined">battery_android_full</span>
    </div>
</header>