.add-event {
  position: absolute;
  right: 16px;
  bottom: 102px;
  width: 48px;
  height: 48px;
  background: #ffffff;
  outline: 2px solid rgba(232, 231, 229, 1);
  box-shadow: 2px 2px 7.8px 0px rgba(244, 144, 43, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6a341;
  z-index: 1;
}
