.add-event{
    position: absolute;
    right: 16px;
    bottom: 102px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6A341;
    z-index: 1;

}