.main{
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.userbar{
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.icon-primary{
  vertical-align: middle;
  width: 24px;
  height: 24px;
}