.main{
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.aspect-NearbyEaters{
  aspect-ratio: 154/142;
}

.userbar{
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.Ewanbar{
  padding: 11px 29px 5.92px;
  position: relative;
  &-img{
    position: absolute;
    top: 0;
    left: 29px;
  }
  &-aside{
    width: calc(100% - 21px);
    margin-left: auto;
    text-align: center;
    &-text{
      background: #FCDEAC;
      color: #6B4C3B;
      border-radius: 24px;
      padding: 8px 0;
    }
  }
}

.icon-primary{
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.card-icon-text{
  display: inline-flex;
  gap: 4px;
  .gap-0{
    gap: 0;
  }
}

.card-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 12px;
  scrollbar-width: none; /* Firefox 隱藏捲軸 */

  &::-webkit-scrollbar {
    display: none; /* Chrome、Safari、Edge 隱藏捲軸 */
  }
  
  &-item {
    flex: 0 0 156px;
    scroll-snap-align: start;
  }
}

.card-tag{
  position: absolute;
  &-bottom{
    left: 8px;
    bottom: 8px;
  }
  &-top{
    right: 8px;
    top: 8px;
  }
  &-primary{
    color: #FFFFFF;
    background: #866348;
    padding: 4px 8px;
    border-radius: 24px;
  }
  &-secondary{
    color: #363533;
    background: #FFFFFF;
    padding: 4px 8px;
    border-radius: 24px;
  }
}

.warning-dotted{
  &-parent{
    position: relative;
  }
  &-child{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #EF4444;
  }
}

.mb-footer{
  margin-bottom: 97.08px;
}