.mb-footer{
    margin-bottom: 120px;
}

/* 絕對定位 */
.position-top-right-4 {
    position: absolute;
    top: 16px;
    right: 16px;
}
.position-top-right-2 {
    position: absolute;
    top: 8px;
    right: 8px;
}
.position-bottom-left-2 {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

/* 輪播按鈕 */
.bannerDot {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
    .active-dot{
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background-color: #F4902B;
        margin-bottom: 8px;
    }
    .dot {
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background-color: #B3AFAD;
        margin-bottom: 8px;
        }
}
.badge-category{
    position: absolute;
    border-radius: 4px 4px 4px 0;
    top:-9px;
    right:-6px;
}

/* 三角形箭頭 */
.triangle {
    width: 13px;
    height: 21px;
    background: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    top: -11px;
    left: 29px;
}

/* 配對按鈕 */
.fixed-right {
    position: absolute ;
    bottom: 109px;
    right: 16px ;
    z-index: 2;

    a.match {
        background: white;
        gap: 10px;
        width: 48px;
        height: 48px;
        border: 2px solid #E8E7E5;
        border-radius:999px;
        display: flex;
        align-items: center;
        justify-content: center; 
        box-shadow: 2px 2px 8px 0px rgba(244, 144, 43, 0.4);
        text-decoration: none;
        &:hover {
            border: 2px solid #FAC677;
            background: #FEF5E2;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }

}

.note-body{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 14px;
}
