<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
</head>
<body>

  <div class="phone">
    <div class="screen">
  
      <%- include('./layout/header'); -%>

    <div class="button-Ewan-index">
        <a class="d-flex align-items-start">
            <span class="button-Ewan mt-2 border-1">
                <span class="mt-2">我可以幫你想話題喔！</span>
            </span>
            <img src="../assets/images/ai button_Ewan.svg" alt="ai button_Ewan">
        </a>
    </div>

    <div class="overlay"></div>
  
  
      <main class="main main-mb">
        <div class="container-fluid">
            <!-- 置中文字 -->
            <div class="text-center chat-mb-lg">
                <div class="t3 text-n300">3天前</div>
            </div>
            <div id="textBar" class="d-flex flex-column">
                <p class="chat chat-primary chat-mb-sm">你好，很高興認識你～</p>
                <p class="chat chat-primary chat-mb-sm">我剛下班，你下班了嗎?</p>
                <p class="chat chat-secondary chat-mb-lg">我也剛下班！</p>
                <p class="chat chat-primary chat-mb-lg">剛好我們都在附近，要不要一起吃晚餐～</p>
                <p class="chat chat-secondary chat-mb-lg">好呀！附近有間新開的拉麵店看起來很好吃耶<br>你會有興趣嗎</p>
            </div>
        </div>
      
      </main>
  
      <%- include('./layout/footer-ai-chat'); -%>
  
  
    </div>
  </div>


<script>
    let aiInput = document.getElementById("aiInput");
    let textBar = document.getElementById("textBar");
    let Ewan = document.querySelector(".button-Ewan-index");
    let overlay = document.querySelector(".overlay");

    Ewan.addEventListener("click",()=>{
        overlay.classList.add("active");
    })

    overlay.addEventListener("click",()=>{
        overlay.classList.remove("active");
    })

    // 創建標籤和樣式並把文字送到畫面
    let showText = () =>{
        let p = document.createElement("p");
        p.classList.add("chat");
        p.classList.add("chat-primary");
        p.classList.add("chat-mb-sm");
        p.textContent = aiInput.value;
        textBar.appendChild(p);
        aiInput.value = "";
    }

    // 按"Enter"事件監聽
    addEventListener("keydown",(e)=>{
        console.log(e.key)
        if(e.key === "Enter"){
            showText();
        }
        if(e.key === "ArrowLeft"){
            Ewan.classList.add("active");
        }
        if(e.key === "ArrowRight"){
            Ewan.classList.remove("active");
        }
    })

</script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
