<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入 Material Symbols Outlined -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>吃貨專區</title>
  </head>
  <body>
    <div class="phone">
      <div class="screen">
        <%- include('./layout/header'); -%>
        <main>
          <div class="container">
            <!-- 導覽列 -->
            <Section>
              <div class="d-flex justify-content-between py-2">
                <a href="index.html"><span class="material-symbols-outlined text-n500 py-2">keyboard_arrow_left</span></a>
                <p class="t1b text-n500 py-2">吃貨專區</p>
                <a href="#"></a>
              </div>
            </section>
            <!-- 搜尋列 -->
            <div class="container py-4 px-0">
              <div class="position-relative">
                <!-- 搜尋輸入框 -->
                <input id="msgInput" type="text" class="form-control rounded-pill bg-white ps-7 t2" 
                      placeholder="搜尋美食" aria-label="搜尋美食">
                <!-- 左側 icon -->
                <span class="material-symbols-outlined position-absolute top-50 start-0 translate-middle-y ps-3 text-muted">
                  search</span>
              </div>
            </div>

            <!-- 美食專區 -->
            <section>
              <div class="d-flex mb-3">
                <img src="../assets/images/foodie-zone/title-Ewan.svg" alt="Ewan" class="me-1">
                <h1 class="t1b text-t500">美食專區</h1>
              </div>

              <div class="d-flex justify-content-between mb-4">
                <a href="#" class="text-center">
                  <img src="../assets/images/foodie-zone/foodtypesicon-01.svg" alt="" class="mb-1">
                  <p class="t3 text-t500">百年老店</p>
                </a>
                <a href="#" class="text-center">
                  <img src="../assets/images/foodie-zone/foodtypesicon-02.svg" alt="" class="mb-1">
                  <p class="t3 text-t500">無名小吃</p>
                </a>
                <a href="#" class="text-center">
                  <img src="../assets/images/foodie-zone/foodtypesicon-03.svg" alt="" class="mb-1">
                  <p class="t3 text-t500">巷弄美食</p>
                </a>
                <a href="#" class="text-center">
                  <img src="../assets/images/foodie-zone/foodtypesicon-04.svg" alt="" class="mb-1">
                  <p class="t3 text-t500">低醣飲食</p>
                </a>
                <a href="#" class="text-center">
                  <img src="../assets/images/foodie-zone/foodtypesicon-05.svg" alt="" class="mb-1">
                  <p class="t3 text-t500">甜點時間</p>
                </a>
              </div>
            </section>
            <!-- 近期熱門美食 -->
            <section>
              <!-- 標題 -->
              <div class="d-flex mb-3">
                <img src="../assets/images/foodie-zone/title-Iwan.svg" alt="Iwan" class="me-1">
                <h1 class="t1b text-t500">近期熱門美食</h1>
              </div>
              <!-- 近期熱門美食圖文 -->
              <!-- 夜市美食 -->
              <a href="#">
                <div class="card mb-4 position-relative">
                <div class="row g-3">
                  <div class="col-3 p-2">
                    <img src="../assets/images/today-firend/eatnote-01.svg" class="img-fluid rounded-start" alt="eat-note" style="width: 74px; height: 74px;">
                  </div>
                  <div class="col-9">
                    <div class="note-body">
                      <h5 class="card-title t3 text-t500">經典鹽酥雞，外酥內嫩，讓你一口接一口...</h5>
                      <p class="card-text t3 text-n500">最近真的迷上這種 邊走邊吃系小吃，這攤的章魚燒跟鐵板串燒直接逼瘋味蕾！...</p>
                    </div>
                  </div>              
                </div>
                <span class="badge bg-s500 t3 text-white px-4 py-0 badge-category">夜市美食</span>
              </div>
              </a>              
              <!-- 甜點時間 -->
              <a href="foodie-detail.html">
                <div class="card mb-4 position-relative">
                <div class="row g-3">
                  <div class="col-3 p-2">
                    <img src="../assets/images/today-firend/eatnote-02.svg" class="img-fluid rounded-start" alt="eat-note" style="width: 74px; height: 74px;">
                  </div>
                  <div class="col-9">
                    <div class="note-body">
                      <h5 class="card-title t3 text-t500">隱藏版的甜點天堂！肉桂捲的香氣讓人懷...</h5>
                      <p class="card-text t3 text-n500">最近真的迷上這種 邊走邊吃系小吃，這攤的章魚燒跟鐵板串燒直接逼瘋味蕾！...</p>
                    </div>
                  </div>              
                </div>
                <span class="badge bg-s500 t3 text-white px-4 py-0 badge-category">甜點時間</span>
              </div>
              </a>              
              <!-- 巷弄美食 -->
              <a href="#">
                <div class="card mb-4 position-relative">
                <div class="row g-3">
                  <div class="col-3 p-2">
                    <img src="../assets/images/today-firend/eatnote-03.svg" class="img-fluid rounded-start" alt="eat-note" style="width: 74px; height: 74px;">
                  </div>
                  <div class="col-9">
                    <div class="note-body">
                      <h5 class="card-title t3 text-t500">夜市的香氣組合讓人無法抗拒！每一口都...</h5>
                      <p class="card-text t3 text-n500">最近真的迷上這種 邊走邊吃系小吃，這攤的章魚燒跟鐵板串燒直接逼瘋味蕾！...</p>
                    </div>
                  </div>              
                </div>
                <span class="badge bg-s500 t3 text-white px-4 py-0 badge-category">巷弄美食</span>
              </div>
              </a>              
              <!-- 無名小吃 -->
              <a href="#">
                <div class="card mb-4 position-relative">
                <div class="row g-3">
                  <div class="col-3 p-2">
                    <img src="../assets/images/today-firend/eatnote-04.svg" class="img-fluid rounded-start" alt="eat-note" style="width: 74px; height: 74px;">
                  </div>
                  <div class="col-9">
                    <div class="note-body">
                      <h5 class="card-title t3 text-t500">人氣炸物攤，脆皮雞排香酥可口，讓你一...</h5>
                      <p class="card-text t3 text-n500">最近真的迷上這種 邊走邊吃系小吃，這攤的章魚燒跟鐵板串燒直接逼瘋味蕾！...</p>
                    </div>
                  </div>              
                </div>
                <span class="badge bg-s500 t3 text-white px-4 py-0 badge-category">無名小吃</span>
              </div>
              </a>
            </section>
            <!-- 新增按鈕 -->
            <div class="fixed-rightdown">
            <a href="#" class="add">
              <span class="material-symbols-outlined text-p400">add</span>
            </a>
          </div>
          <!-- 補空間 -->
          <div class="pb-9"></div>
        </main>
        <%- include('./layout/footer-phone'); -%>
      </div>
    </div>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
