<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<main class="main">

  <!-- 使用者相關資訊 -->

  <section class="userbar">
    <img class="p-1 me-3" src="../assets/images/index/userbar-person.svg" alt="小雨頭貼">
    <h1 class="t1b text-n500 me-auto">Hi,小雨</h1>
    <div class="d-flex align-items-center">
      <a href="#" class="me-1">◉</a>
      <a href="#">◉</a>
    </div>
  </section>
  
  <!-- 揪吃飯、找飯友 -->
  
  <section class="container-fluid">
    <div class="d-flex">
      <a href="#" class="btn btn-primary btn-lg border-0 w-50 d-flex justify-content-center align-items-center me-2">
        <img class="img-fluid icon-primary me-2" src="../assets/images/index/face-small-icon_Ewan.svg" alt="face-small-icon_Ewan">
        <span class="d-inline-block t1b">揪吃飯</span>
      </a>
      <a href="#" class="btn btn-secondary btn-lg border-0 w-50 d-flex justify-content-center align-items-center">
        <img class="img-fluid icon-primary me-2" src="../assets/images/index/face-small-icon_Iwan.svg" alt="face-small-icon_Iwan">
        <span class="d-inline-block t1b">找飯友</span>
      </a>
    </div>
  </section>
  
  <!-- 離我最近的飯友(標題) -->
  
  <section class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="h4 text-t500">離我最近的飯友</h2>
      <div class="d-flex align-items-center text-n300">
        <p class="t2 me-1">查看所有</p>
        <a href="#">◉</a>
      </div>
    </div>
  </section>

  <!-- 附近聚會活動(標題) -->
  
  <section class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="h4 text-t500">附近聚會活動</h2>
      <div class="d-flex align-items-center text-n300">
        <p class="t2 me-1">查看所有</p>
        <a href="#">◉</a>
      </div>
    </div>
  </section>

</main>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
