<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<div class="container-fluid">
  <div class="d-flex">
    <button class="btn btn-primary btn-lg border-0 w-50 d-flex justify-content-center align-items-center me-2">
      <img class="img-fluid face-small-icon me-2" src="../assets/images/index/face-small-icon_Ewan.svg" alt="face-small-icon_Ewan">
      <span class="d-inline-block t1b">揪吃飯</span>
    </button>
    <button class="btn btn-secondary btn-lg border-0 w-50 d-flex justify-content-center align-items-center">
      <img class="img-fluid face-small-icon me-2" src="../assets/images/index/face-small-icon_Iwan.svg" alt="face-small-icon_Iwan">
      <span class="d-inline-block t1b">找飯友</span>
    </button>
  </div>
</div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
